@model Question_Bank.Models.Tbl_Create_School_College
@{
    ViewBag.Title = "Create_User";
    Layout = "~/Views/Shared/Form_Layout.cshtml";
}

<style>
    .AppFormTable th {
        background-color: steelblue;
        text-align: center;
        color: white;
    }
    
    #tbl_user td{
        text-align:center;
    }
</style>

<script src="~/Design/JS/Project_JS/Create_User.js"></script>
<h2 align="center">Edit User</h2>

<div class="row" style="border:inset 2px  #3eadcf"></div>
<br />
<form id="user">
    <div class="container" style="padding-left:300px; padding-right:300px">

        <div class="row">
            <div class="col-sm-3">
                <label>Index No :</label><span style="color:Red">*</span>
                @Html.TextBoxFor(model => model.Index_No, new { @class = "form-control", @placeholder = "Index No", @name = "Index_No", @required = "required", maxLength = 7 })
                @Html.ValidationMessageFor(model => model.Index_No, "Enter Index No", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <label>Institute Name :</label><span style="color:Red">*</span>
                @Html.TextBoxFor(model => model.Institute_Name, new { @class = "form-control", @placeholder = "Institute Name", @name = "Institute_Name", @required = "required" })
                @Html.ValidationMessageFor(model => model.Institute_Name, "Enter Institute Name", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <label>Name :</label><span style="color:Red">*</span>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @name = "Name", @required = "required" })
                @Html.ValidationMessageFor(model => model.Name, "Enter Name", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <label>Password :</label><span style="color:Red">*</span>
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @name = "Password", @required = "required" })
                @Html.ValidationMessageFor(model => model.Password, "Enter Password", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <label>Address :</label><span style="color:Red">*</span>
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address", @name = "Address", @required = "required" })
                @Html.ValidationMessageFor(model => model.Address, "Enter Address", new { @class = "text-danger" })
            </div>

            @Html.Hidden("UserID", TempData["User_ID"])
            @Html.HiddenFor(model => model.ID)

            <div class="col-sm-3">
                <label>Mobile No :</label><span style="color:Red">*</span>
                @Html.TextBoxFor(model => model.Mobile_No, new { @class = "form-control", @placeholder = "Mobile No", @name = "Mobile_No", @required = "required", maxLength = 10 })
                @Html.ValidationMessageFor(model => model.Mobile_No, "Enter Mobile No", new { @class = "text-danger" })
            </div>

            <div class="col-sm-3">
                <label>Email ID :</label><span style="color:Red">*</span>
                @Html.TextBoxFor(model => model.Email_ID, new { @class = "form-control", @placeholder = "Email ID", @name = "Email_ID", @required = "required" })
                @Html.ValidationMessageFor(model => model.Email_ID, "Enter Email ID", new { @class = "text-danger" })
            </div>

        </div>
    </div> <br><br>
    <center>
        <button type="button" class="btn btn-success" id="btn_submit">Submit</button>
    </center>
    <br>
    <div class="row" style="border:inset 2px  #3eadcf"></div>
    <br />
    <table id="Tbl2" class="AppFormTable">

        <tr>
            <th align="left"><font size="2">User Information Data List</font></th>
        </tr>

        <tr>
            <td>
                <table class="DataGrid" cellspacing="0" cellpadding="5" rules="all" id="rightContainer_ContentTable1_gvPreferencedOptionsList" style="border-width:1px;border-style:solid;width:100%;border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Sr.No.</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Index No</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Institute Name</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">User ID</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Name</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Mobile No</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Email ID</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Address</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Password</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Edit</th>
                            <th class="Header" align="center" valign="middle" scope="col" style="font-weight:bold;width:5%;">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_user"></tbody>
                </table>
                <br>
            </td>
        </tr>

    </table>

</form>

